<!--
Launch driver components of Ridgeback's supported accessories.

Be careful that the defaults in this file are kept aligned with those
in the URDF. See ridgeback_description/urdf/accessories.urdf.xacro.
-->
<launch>
  <!-- Primary Hokuyo UST-10LX LIDAR, base is front-facing but support for addtional rear. -->
  <group if="$(optenv RIDGEBACK_FRONT_HOKUYO_LASER 0)">
    <node pkg="urg_node" name="urg_front" type="urg_node">
      <param name="ip_address" value="$(optenv RIDGEBACK_FRONT_LASER_HOST 192.168.131.14)" />
      <param name="frame_id" value="front_laser" />
      <param name="angle_min" value="-2.35619" />
      <param name="angle_max" value="2.35619" />
      <remap from="scan" to="front/scan" />
    </node>
  </group>

  <group if="$(optenv RIDGEBACK_REAR_HOKUYO_LASER 0)">
    <node pkg="urg_node" name="urg_rear" type="urg_node">
      <param name="ip_address" value="$(optenv RIDGEBACK_REAR_LASER_HOST 192.168.131.13)" />
      <param name="frame_id" value="rear_laser" />
      <param name="angle_min" value="-2.35619" />
      <param name="angle_max" value="2.35619" />
      <remap from="scan" to="rear/scan" />
    </node>
  </group>

  <!-- Optional LMS1xx-series LIDAR, generally is front-facing but support for addtional rear. -->
  <group if="$(optenv RIDGEBACK_FRONT_SICK_LASER 0)">
    <node pkg="lms1xx" name="lms1xx_front" type="LMS1xx_node">
      <param name="host" value="$(optenv RIDGEBACK_FRONT_LASER_HOST 192.168.131.14)" />
      <param name="frame_id" value="front_laser" />
      <remap from="scan" to="front/scan" />
    </node>
  </group>

  <group if="$(optenv RIDGEBACK_REAR_SICK_LASER 0)">
    <node pkg="lms1xx" name="lms1xx_rear" type="LMS1xx_node">
      <param name="host" value="$(optenv RIDGEBACK_REAR_LASER_HOST 192.168.131.13)" />
      <param name="frame_id" value="rear_laser" />
      <remap from="scan" to="rear/scan" />
    </node>
  </group>

</launch>
